<div class="wrapper">
    <div class="hero">
        <h2>VOTRE PORTE VERS LE MONDE DU GAMING</h2>
        <p>Des consoles et des jeux d’haute qualité à prix bas pour les vrais gamers uniquement.</p>
        <div class="btns">
            <a class="btn btn--1">VOIR NOS CONSOLES</a>
            <a class="btn btn--2">VOIR NOS JEUX</a>
        </div>
    </div>
    <div class="logos">
        <img src="../../../assets/logos/image 2.png" alt="logos-partenaires">
        <img src="../../../assets/logos/image 4.png" alt="logos-partenaires">
        <img src="../../../assets/logos/image 5.png" alt="logos-partenaires">
        <img src="../../../assets/logos/image 6.png" alt="logos-partenaires">
        <img src="../../../assets/logos/image 7.png" alt="logos-partenaires">
    </div>

</div>
